<!--<div *ngFor="let numberData of numList">-->
<!--<app-countup [countup]="numberData"></app-countup>-->
<!--</div>-->
<label>Search Reminders:
  <input type="text" [ngModel]="searchText" (ngModelChange)="onSearch($event)">
</label>
<br>
<br>
<button (click)="createMemo()">Create New Reminder</button>
<br>
<br>
<div *ngFor="let reminderData of displayList">
  <app-reminder [reminder]="reminderData" ></app-reminder>
</div>

<!--<app-reminder [reminder]="reminderOne"></app-reminder>-->
<!--<app-reminder [reminder]="reminderTwo"></app-reminder>-->
<!--<app-reminder [reminder]="reminderThree"></app-reminder>-->
